<!DOCTYPE html />
<HTML>
   <HEAD>
      <TITLE>
         Buscar Productoss 
      </TITLE>
   </HEAD>
<BODY>
	<form method="post" action="{{ url_for('getCategory') }}">
	<div>
			<label>Escoja una categoria:</label>
	   		<input type="checkbox" name="Cosmetica" id="Cosmetica" > Cosmetica </input>
	   		<input type="checkbox" name="Electronica" id="Electronica"> Electronica </input>
	   		<input type="checkbox" name="Ropa" id="Ropa" > Ropa </input>
	   		
   	</div>
   	<div>
   		<label> Escoja un precio: </label>
   		<input type="checkbox" name="De0a30" id="De0a30" > 0€ a 30€ </input>
		<input type="checkbox" name="De30A100" id="De30A100"> 30€ a 100€</input>
		<input type="checkbox" name="MayorA100" id="MayorA100" > Mayor a 100€ </input>
   	</div>
	<input type="submit" value="Enviar"></input>
   	</form>
</BODY>
</HTML> 